# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
dist

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# Build output
/cmd/agent/agent
/agent

# Dependency directories
/vendor/

# IDE - JetBrains
.idea/

# OS specific files
.DS_Store
Thumbs.db
*~

# Debug and profiling
*.prof
*.pprof
debug

.kanshi-id

/kanshi-binary